@font-face {
    font-family: bourbon;
    src: url("../fonts/bourbon.otf") format("opentype");
}

/* navbar */
.navbar-queasy {
    background-color: #00A1E5;
    border-color: #0079AD;
}

body {
    background-color: #00A1E5;
    color: white;
}

.hd {
    font-family: bourbon;
}

#intro, #details {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 620px;
}

#details {
    display: none;
}

#noantrian {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background: white;
    padding: 16px;
    color: black;
    width: 100%;
    max-width: 400px;
    margin: auto;
    border-radius: 4px;
}

#udetails {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 16px;
    border: 3px solid white;
    border-radius: 4px;
    margin-bottom: 32px;
}

#name {
    text-wrap: none;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Title */
/*.navbar-queasy .navbar-brand {
    color: #FFF;
}
.navbar-queasy .navbar-brand:hover,
.navbar-queasy .navbar-brand:focus {
    color: #5E5E5E;
}
/* Link */
/*.navbar-queasy .navbar-nav > li > a {
    color: #777;
}
.navbar-queasy .navbar-nav > li > a:hover,
.navbar-queasy .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-queasy .navbar-nav > .active > a,
.navbar-queasy .navbar-nav > .active > a:hover,
.navbar-queasy .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-queasy .navbar-nav > .open > a,
.navbar-queasy .navbar-nav > .open > a:hover,
.navbar-queasy .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* Caret */
/*.navbar-queasy .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-queasy .navbar-nav > .dropdown > a:hover .caret,
.navbar-queasy .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-queasy .navbar-nav > .open > a .caret,
.navbar-queasy .navbar-nav > .open > a:hover .caret,
.navbar-queasy .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
/*.navbar-queasy .navbar-toggle {
    border-color: #DDD;
}
.navbar-queasy .navbar-toggle:hover,
.navbar-queasy .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-queasy .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-queasy .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-queasy .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-queasy .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}
*/

.keypad-btn {
    background: white;
    width: 80px;
    height: 80px;
    margin: 8px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    color: black;
    line-height: 80px;
    font-weight: bold;
    font-size: 30px;
}

.keypad-btn:hover {
    background: #dfdfdf;
}

#keypad {
    margin-top: 48px;
}

#keypad table {
    margin: 0 auto;
}

#userlogo{
    font-size:120px;
    margin-top:20px;
}

#background{
    background-color:#a3e7ed;
    position:absolute;
    top:50%;
    height:50%;
    width:100%;
    margin:0px;
    z-index:1;
}

.slider{
    width:40%;
    height:100px;
    background-color:white;
    margin-left:30%;
    margin-top:20px;
    border-radius:30px;
}

.slide-button{
    position:absolute;
    width:10%;
    height:100px;
    background-color:black;
    float:left;
    margin:0px;
    border-radius:30px;
    text-align: center;
    font-size:60px;
    display:inline; 
}

.slide-button:active{
    background-color: #363738;
}

.slider-right{
    display:inline;
    width:75%;
    height:100px;
    float:right;
    margin:0px;
    border-radius:30px;
    text-align: center;
    font-size:55px;
    display:inline; 
    text-align: center;
    color:grey;
}

.logo-estimasi{
    margin-left: 30px;
}

.size-menu{
    font-size:150%;
    vertical-align: middle;
}

.kotak-estimasi{
    background-color: white;
    height: 200px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top:30px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#tulisanantri{
    color:black;
    font-family: bourbon;
    text-align: center;
}

